@import url('./styles/variables.css');
@import url('./styles/container.css');

html,
body {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.error-message {
  color: #ff3333;
  margin-top: 0;
  font-size: var(--typo-size-s);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
